<h2><%=l :label_glossary_category_new %></h2>

<%= labelled_form_for :glossary_category, @category,
url: glossary_categories_path do |f| %>
  <%= render partial: 'glossary_categories/form', locals: {form: f} %>
  <%= f.submit l(:button_create) %>
<% end %>
