<% html_title("Project tracking with EVM") %>
<!-- contextual -->
<%= render partial: "/common/contextual", locals: { project: @project, cfg_param: @cfg_param, report_param: nil} %>
<section>
  <h2><%= l(:title_evm_tab) %></h2>
  <section>
    <h3><%= l(:subtitle_evm_exclude_issues) %></h3>
    <%= render partial: "/common/issue_list", locals: { issues: @exclude_issues, option_value: {} } %>
  </section>
</section>
