<h2>EvmbaselinesController#edit</h2>
<%= form_for @evm_baselines, :url => project_evmbaselines_path(@project)  do |f| %>
  <p><%= f.text_field :subject, size: 60, required: true %></p>
  <p><%= f.text_field :description, size: 150 %></p>
  <%= submit_tag l(:button_edit) %>
<% end %>
