<p>
  <table>
    <tr>
      <td><%=l(:label_basis_hours_of_day)%></td>
      <td><%= text_field_tag('settings[working_hours_of_day]', @settings['working_hours_of_day'])%></td>
    </tr>
  </table>
</p>
