<h2><%=l(:label_term_category)%></h2>

<% form = labelled_form_for @category, :as => :category, :url => { :action => 'edit', :project_id => @project, :id => @category }, :html => {:class => 'tabular'} do |f| %>
<%= render :partial => 'term_categories/form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>
<%= form if Rails::VERSION::MAJOR >= 3 %>

<% html_title(l(:glossary_title)) -%>
