/*** evm charts ***/

#evm-charts-wrapper {
  margin: auto;
}
div[class*="evm-chart"] {
  margin: auto;
  height: 550px;
  padding: 5px;
}

/*** Option ***/

.option-col {
  padding: 0px 5px 0px 15px;
  float: left;
}
.option-col p {
  font-weight: bold;
}

/*** summary evm indicator ***/

#evm-suummary-wrapper {
  margin: auto;
  padding: 0 0 20px 0;
}
#evm-indicator-value-table {
  width: auto;
  border-collapse: collapse;
}
#evm-indicator-value-table th, #evm-indicator-value-table td {
  width: 60px;
  padding: 2px;
  text-align: center;
  border: 1px solid #bbb;
}
#evm-indicator-value-table th {
  background-color: #eee;
}
td.indicator-red {
  background-color: #FF0000;
}
td.indicator-orange {
  background-color: #FF8C00;
}

/*** sidebar ***/

div[class*="evm-explanation"] {
  width: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
