/*** General ***/
h4 {
  font-weight: 800;
}
/*** option ***/
.evm-div-col {
  margin-top: 5px;
  padding: 0px 30px 0px 0px;
  float: left;
}
/*** metrics ***/
.evm-div-col-basic {
  margin: 10px;
  padding: 10px 30px 0px 0px;
  border-left: solid;
  border-left-width: 10px;
  border-color: darkgreen;
  border-radius: 5px 5px 5px 5px;
  background-color:rgb(241, 237, 237) ;
  float: left;
}
.evm-div-col-baseline {
  margin: 10px;
  padding: 10px 30px 0px 0px;
  border-left: solid;
  border-left-width: 10px;
  border-color: darkblue;
  border-radius: 5px 5px 5px 5px;
  background-color:rgb(241, 237, 237) ;
  float: left;
}
.evm-div-col-versiion {
  margin: 10px;
  padding: 10px 30px 0px 0px;
  border-left: solid;
  border-left-width: 10px;
  border-color: darkorange;
  border-radius: 5px 5px 5px 5px;
  background-color:rgb(241, 237, 237) ;
  float: left;
}
.evm-div-col-assignee {
  margin: 10px;
  padding: 10px 30px 0px 0px;
  border-left: solid;
  border-left-width: 10px;
  border-color: darkmagenta;
  border-radius: 5px 5px 5px 5px;
  background-color:rgb(241, 237, 237) ;
  float: left;
}
.evm-div-col-tracker {
  margin: 10px;
  padding: 10px 30px 0px 0px;
  border-left: solid;
  border-left-width: 10px;
  border-color: darkkhaki;
  border-radius: 5px 5px 5px 5px;
  background-color:rgb(241, 237, 237) ;
  float: left;
}
div[class*="evm-div-col"] fieldset{
  border-style: none;
}
div[class*="evm-div-col"] fieldset legend{
  font-size: 1.1em;
  font-weight: 800;
}
.metrics-apply {
  clear:both;
}
td.difference-red {
  font-weight: bold;
  color: #FF0000;
}

/*** project metrics ***/
#metrics-table td {
  min-width: 20px;
}

/*** summary evm indicator ***/
#evm-indicator-value-table {
  border: 1px solid #bbb;
  width: auto;
  border-collapse: collapse;
}
#evm-indicator-value-table th {
  background-color: #eee;
}
/*** summary evm indicator ***/
#evm-indicator-value-table {
  border: 1px solid #bbb;
  width: auto;
  border-collapse: collapse;
}

#evm-indicator-value-table td,
#evm-indicator-value-table th {
  width: 80px;
  padding: 2px;
  text-align: center;
}
td.indicator-red {
  background-color: #FF0000;
}
td.indicator-orange {
  background-color: #FF8C00;
}

/*** sidebar ***/
div[class*="evm-explanation"] {
  width: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}

/*** icon image ***/
.icon-parent-issue-evm {
  background-image: url("../images/parent-issue-evm.png");
}
.icon-tracker-evm {
  background-image: url("../images/tracker-evm.png");
}
.icon-version-evm {
  background-image: url("../images/version-evm.png");
}
.icon-exclude-evm {
  background-image: url("../images/issue-exclude.png");
}

/*** for activity page ***/
dt.evmbaseline-new {
  background-image: url("../images/baseline-add.png");
}
dt.evmbaseline-edit {
  background-image: url("../images/baseline-edit.png");
}

/*** for validate ***/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/*** for baseline setting ***/
#wrapper input[readonly],
#wrapper textarea[readonly] {
  background-color:aliceblue;
}

/*** for baseline difference detail ***/
.baseline_diff {
  font-weight: bold;
  color: red;
}

/*** for report ***/
#evm_value,
#project_evmreport_evm_bac,
#project_evmreport_evm_pv,
#project_evmreport_evm_ev,
#project_evmreport_evm_ac,
#project_evmreport_evm_sv,
#project_evmreport_evm_cv {
  text-align: right;
}

/*** more inforation tab ***/
.tab-wrap {
  display: flex;
  flex-wrap: wrap;
}
.tab-label {
  border-radius: 5px 5px 5px 5px;
  background: LightGray;
  margin-right: 5px;
  padding: 3px 12px;
  order: -1;
}
.tab-content {
  width: 100%;
  display: none;
  padding: 10px;
}

/*** active tab ***/
.tab-switch:checked+.tab-label {
  background: darkblue;
  color: #eee;
}
.tab-switch:checked+.tab-label+.tab-content {
   display: block;
}

/*** radio button ***/
.tab-switch {
  display: none;
}
