<h2>GlossaryTermsController#index</h2>

<table class="list">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <% @glossary_terms.each do |term| %>
    <tr>
      <td class="name">
	<%= term.name %>
      </td>
      <td class="description">
	<%= term.description %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
