<h2><%=l :label_glossary_term_new %></h2>
  
<%= labelled_form_for :glossary_term, @term,
    url: glossary_terms_path do |f| %>
  <%= render partial: 'glossary_terms/form', locals: {form: f} %>
  <%= f.submit l(:button_create) %>
<% end %>
